In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('Automobile_data.csv')

In [12]:
data.head()

       company   body-style  length engine-type  avg-mileage
0  alfa-romero  convertible   168.8        dohc           21
1  alfa-romero    hatchback   171.2        ohcv           19
2         audi        sedan   176.6         ohc           24
3         audi        sedan   176.6         ohc           18
4         audi        sedan   177.3         ohc           19

In [13]:
print("First few rows")
data.head()

First few rows

       company   body-style  length engine-type  avg-mileage
0  alfa-romero  convertible   168.8        dohc           21
1  alfa-romero    hatchback   171.2        ohcv           19
2         audi        sedan   176.6         ohc           24
3         audi        sedan   176.6         ohc           18
4         audi        sedan   177.3         ohc           19

In [14]:
print("Data types")
data.info()

Data types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      60 non-null     object
 1   body-style   60 non-null     object
 2   length       60 non-null     float64
 3   engine-type  60 non-null     object
 4   avg-mileage  60 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 2.5+ KB

In [15]:
print("Summary Statistics")
data.describe()

Summary Statistics

           length  avg-mileage
count   60.000000    60.000000
mean   173.170000    25.883333
std     14.128914     8.174146
min    141.100000    13.000000
25%    159.100000    19.000000
50%    171.450000    25.000000
75%    179.125000    31.000000
max    208.100000    47.000000

In [16]:
numerical_features = data.select_dtypes(include=['int64', 'float64']).columns
for feature in numerical_features:
    mean_val = data[feature].mean()
    median_val = data[feature].median()  # Corrected the typo here
    try:
        mode_val = data[feature].mode().values[0]
    except IndexError:
        mode_val = "No unique mode"
    std_dev = data[feature].std()
    
    print(f"\nStatistics for {feature}:")
    print(f"Mean: {mean_val}")
    print(f"Median: {median_val}")
    print(f"Mode: {mode_val}")
    print(f"Standard Deviation: {std_dev}")

Statistics for length:
Mean: 173.17000000000002
Median: 171.45
Mode: 157.3
Standard Deviation: 14.128913737079381

Statistics for avg-mileage:
Mean: 25.883333333333333
Median: 25.0
Mode: 31
Standard Deviation: 8.174146234724866

In [17]:
print("\nCorrelation between features:")
print(data.corr(numeric_only=True))

Correlation between features:
               length  avg-mileage
length       1.000000    -0.794481
avg-mileage -0.794481     1.000000